.page-research-join {
    background-image: url(research-top-bg.jpg);
    background-position: center -70px;
    background-repeat: no-repeat
}
.page-research-join-2 {
    background-position-y: -400px;
}
.page-research-join .site-main {
    background-image: url(research-bottom-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat
}
.page-research-join .site-main .container {
    margin-top: 50px;
    padding-bottom: 50px
}
.page-research-join .research-join-jumbotron {
    background-color: transparent;
    padding-bottom: 0;
    margin-bottom: 0
}
.page-research-join .research-join-jumbotron h2 {
    text-indent: -9999px;
    margin: 0
}
.page-research-join .research-join-jumbotron img {
    width: 100%;
    max-width: 513px;
    margin-bottom: 40px
}
.page-research-join .research-join-jumbotron .research-description {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    color: #777;
    line-height: 32px;
    letter-spacing: 1px
}
.page-research-join .research-join-jumbotron .research-learn-more {
    margin-top: 42px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #777
}
.page-research-join .research-join-jumbotron .arrow-down {
    height: 40px;
    background-image: url(research-arrow-down.jpg);
    background-repeat: no-repeat;
    background-position: center
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page-research-join .research-join-jumbotron .arrow-down {
        background-image: url(research-arrow-down@2x.jpg);
        background-size: 118px 30px
   }
}
.page-research-join .research-process {
    padding: 50px 0 70px
}
.page-research-join .research-process .col-md-7 {
    padding-top: 40px
}
.page-research-join .research-process .col-md-5 {
    text-align: center
}
.page-research-join .research-process-title {
    margin: 4px 4px 4px 60px;
    text-align: left;
    font-size: 30px
}
.page-research-join .research-process-desc {
    margin-top: 20px;
    padding: 0 60px;
    font-size: 15px;
    color: #777;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: left
}
.page-research-join .research-process-figure {
    width: 100%
}
.page-research-join .research-process-figure.figure-one {
    margin-top: 30px;
    max-width: 341px
}
.page-research-join .research-process-figure.figure-two {
    max-width: 451px
}
.page-research-join .research-process-figure.figure-three {
    max-width: 400px
}
.page-research-join .research-process-figure.figure-four {
    max-width: 460px;
    margin-top: 20px;
}
.page-research-join .research-process-figure.figure-five {
    max-width: 480px;
    margin-top: 50px;
}
.page-research-join .research-process-icon {
    float: left;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 56px;
    text-indent: 10px;
    border-radius: 48px;
    font-size: 36px;
    font-weight: lighter;
    background-color: #cf2b21;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased
}
.page-research-join .research-footer {
    margin: 70px 0;
    text-align: center
}
.page-research-join .research-footer>img {
    width: 100%;
    max-width: 778px;
    margin-bottom: 50px
}
.page-research-join .research-footer-title {
    text-indent: -9999px
}
.page-research-join .modal-window .modal-back {
    min-height: 1000px
}
@media (max-width: 768px) {
    .page-research-join .modal-window .modal-back {
        min-height: 1350px
   }
}
@media (max-width: 480px) {
    .page-research-join .modal-window .modal-back {
        min-height: 1220px
   }
}
.page-research-join .modal-window .modal-card {
    top: 0;
    width: 600px;
    padding: 0;
    margin-left: -300px;
    margin-top: 70px
}
@media (max-width: 480px) {
    .page-research-join .modal-window .modal-card {
        left: 50%;
        width: 300px;
        margin: 50px auto 50px -150px
   }
}
.page-research-join .modal-window .modal-card .modal-header {
    position: relative;
    height: 200px;
    padding: 15px 25px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: url(research-join-header.jpg) 0 0/cover #56b7e3;
    line-height: 30px;
    font-size: 20px;
    color: #fff
}
@media (max-width: 480px) {
    .page-research-join .modal-window .modal-card .modal-header {
        height: 60px
   }
}
.page-research-join .modal-window .modal-card .modal-header .title {
    float: left
}
.page-research-join .modal-window .modal-card .modal-header .avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    border: 4px solid #fff;
    border-radius: 140px;
    background-image: url(research-join-avatar.jpg)
}
@media (max-width: 480px) {
    .page-research-join .modal-window .modal-card .modal-header .avatar {
        display: none
   }
}
.page-research-join .modal-window .modal-card .modal-header .close-handler {
    position: static;
    float: right;
    font-size: 18px;
    color: #fff;
    -webkit-transition: text-shadow 218ms;
    -o-transition: text-shadow 218ms;
    transition: text-shadow 218ms
}
.page-research-join .modal-window .modal-card .modal-header .close-handler:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, .7)
}
.page-research-join .modal-window .modal-card .form-group {
    margin-bottom: 20px
}
.page-research-join .modal-window .modal-card .form-label {
    font-size: 18px;
    color: #888
}
.page-research-join .modal-card .research-form {
    padding: 20px
}
.page-research-join .modal-card .research-form: : -webkit-input-placeholder {
    color: #bbb;
    letter-spacing: 1px
}
.page-research-join .modal-card .research-form: : -moz-placeholder {
    color: #bbb;
    letter-spacing: 1px
}
.page-research-join .modal-card .research-form .row {
    margin-left: -10px;
    margin-right: -10px
}
.page-research-join .modal-card .research-form[class*=col-] {
    padding-left: 10px;
    padding-right: 10px
}
.page-research-join .modal-card .research-form .subtype {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    line-height: 90px;
    border: 2px solid #bbb;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    color: #bbb;
    cursor: pointer;
    -webkit-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms
}
.page-research-join .modal-card .research-form .subtype:hover {
    border-color: #777;
    color: #777
}
.page-research-join .modal-card .research-form .subtype.active {
    border-color: #56b7e3;
    color: #56b7e3
}
.page-research-join .modal-card .research-form .subtype .icon {
    position: relative;
    top: 3px;
    font-size: 30px
}
.page-research-join .modal-card .research-form .form-group.has-value .form-control, .page-research-join .modal-card .research-form .form-group.has-value .input-group-addon, .page-research-join .modal-card .research-form .input-group.has-value .form-control, .page-research-join .modal-card .research-form .input-group.has-value .input-group-addon {
    border-color: #a6a6a6
}
.page-research-join .modal-card .research-form .input-group-addon {
    background-color: #FFF;
    color: #666
}
.page-research-join .modal-card .research-form .confirm-handler {
    width: 100%;
    padding: 10px
}
@media (max-width: 1200px) {
    .page-research-join .research-description, .page-research-join .research-join-jumbotron .research-description, .page-research-join .research-process-desc {
        margin-left: 0;
        margin-right: 0
   }
}
@media (max-width: 992px) {
    .page-research-join .col-md-5.pull-left, .page-research-join .col-md-7.pull-right {
        float: none!important
   }
}